body{
    display: flex;
}
.booksContainer{
    display: flex;
    height: 620px;
    border: 5px blue solid;
}

.title-books{
    
    font-size: 30px;
    margin: 5%;
    border: 5px solid red;
    display: flex;
    flex-wrap: wrap-reverse;
    color: burlywood;
}

.title-books img{
    background-repeat: no-repeat;
    background-size: auto;
    width: 350px;
    height: auto;
}

.titlebook{
    line-height: normal;
    position: relative;
    top: 250px;
    left: 50px;
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


p.userName-title{
    margin  : 0%;
}

mat-toolbar-row{
    display: flex;
    justify-content: space-between;
}
.left-container{
    display: flex;
    align-items: center;
}
.right-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
}


mat-sidenav-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-sidenav{
    width: 170px;
    height: 900px;
    background-color: rgb(79, 43, 141);
    font-size: 26px;
    color: white;

}

mat-nav-list{
   margin-top: 20px;
   display: flex;
   flex-direction: column;
    margin-left: 15px;
}

a.nav-bar{
    margin-bottom: 20px;
    //border: 2px dotted yellow;
    padding-top: 10px;
    padding-bottom: 10px;
}

.active{
    border-left: 3px yellow solid;
    border-bottom: 3px yellow solid;
    background-color:rgb(62, 24, 128);
}