<mat-toolbar color = "primary">
    <mat-toolbar-row>

            <div class="left-container">   
                    <button mat-icon-button>
                    <mat-icon (click)="sidenav.toggle();"> menu</mat-icon>
                    </button>
                    <h1>Welcome to the One api to rule them all  </h1>
            </div>
            
    
                <div class="right-container"> 
                    <p class="userName-title">{{userName}}</p>
                    <button mat-icon-button>
                        <mat-icon (click)="logOut()">exit_to_app</mat-icon>
                    </button>

                    
                </div>
                
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav [routerLinkActive]="'active'"  > 
        <mat-nav-list>

           <a class="nav-bar" [routerLink]="['/movies']"   > Movies </a>
           <a class="nav-bar" [routerLink]="['/characters']" >Characters </a>

        </mat-nav-list>
    </mat-sidenav >

    <mat-sidenav-content>

        <div> 
            <div class="maintitle"> Books from the Lord Of The Rings:</div>

            <div class="booksContainer"> 

           <!--    <div class="title-books">
                <div class="titlebook" >fellow ship of the ring  </div>
                <img src="assets/images/lord_of_the_rings_book.jpg">
            --> 
          

                <div class="title-books" *ngFor="let book of getBooks; let indexBook = index" (click)="openDialog(indexBook)">

                    <img src="assets/images/lord_of_the_rings_book.jpg"> 
                        
                    <div class="titlebook">{{book.name}} </div> 
        
                </div>
            </div> 
        </div>
       
    </mat-sidenav-content>
</mat-sidenav-container>

