<mat-toolbar color = "primary">
    <mat-toolbar-row>
        <div> <h1> Characters Quotes</h1></div>
        
            <button class="returnBtn"> 
                <mat-icon (click)="returnMainMenu()" >keyboard_return</mat-icon>    
            </button>

</mat-toolbar-row>

</mat-toolbar>

    <div class="quote-container"> 
        <div class="quoteSaid">"{{elementGot.dialog}}" </div>
        <br>

        <div class="characterName" >--{{character[0].name}}--</div>  
        <br>
            <button (click)="getQuotes()" >getRandomQuote </button>

        
    </div>

    



