mat-dialog-content{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    line-height: normal;
    background-color: bisque;
    margin: 0%;
    padding: 0%;
}

.mat-dialog-container {
     padding: 0; 
    background-color: bisque;
}